@import '../../css/global.css';

.header {
	background-color: $ds-blue;
	color: $ds-white;
}

.header-inner {
	@mixin container;
}

.header-inner .row {
	@mixin row;
	display: flex;
	width: 100%;
}

.header .nav-panel {
	position: absolute;
	z-index: 1000;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	top: 0; right: 100%; bottom: 100%; left: 0;
	background-color: $ds-blue;
}

.header .nav-panel.open {
	background-color: $ds-blue;
	transition: all 0.5s ease-in-out;
	right: 0; bottom: 0;
}

.header ul {
	padding: 10px 0;
	font-size: 1.2rem;
	margin: 0;
}

.header ul li {
	text-align: center;
	line-height: 44px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.header li:last-child {
	border-bottom: none;
}

.header ul li a {
	display: block;
	transition: all 0.3s ease-in-out;
	height: 44px;
	color: $ds-white;
	padding: 0 1rem 0 1rem;
}

.header ul li a:hover {
	transition: all 0.3s ease-in-out;
	background-color: rgba(255,255,255,0.2);
}
.header button {
	background-color: transparent;
	cursor: pointer;
	width: 44px;
	height: 44px;
	outline: none;
	border: none;
}

.header .nav-open {
	margin-top: 10px;
	margin-left: $gutter;
	background: url('data:image/svg+xml;charset=UTF-8,$menu-white') no-repeat center center;
}

.header .nav-close {
	/*display: block;*/
	margin: 10px $gutter;
	background: url('data:image/svg+xml;charset=UTF-8,$menu-close') no-repeat center center;
	background-size: 30px 30px;
}

@media (min-width: $breakpoint-tablet) {
	.header .nav-panel {
		position: static;
	}

	.header .nav-close {
		display: none;
	}

	.header .nav-open {
		display: none;
	}

	.header ul {
		display: flex;
	}

	.header ul li {
		margin-right: 1rem;
		border-bottom: none;
	}
}